.container {
    width: 80%;
    display: flex;
    flex-direction: column;
    border: 2px solid #43aa8b;
    margin-top: 1%;
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 3%;
    height: 70%;
    overflow-y: scroll;
}

.lista {
    margin: 1%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    height: 70px;
    border: 1px solid #43aa8b;
    width: 98%;
    border-radius: 10px;
    padding: 2%;
}

.sifra {
    display: flex;
    width: 10%;
    margin-right: 5%;
}

.ime {
    color: black;
    width: 80%;
    font-size: 14px;
    text-align: start;
    align-self: center;
}

.vezanost {
    /* border: 2px solid #43aa8b; */
    border-radius: 10px;
    color: white;
    /* background-color: #43aa8b; */
    width: 100px;
    margin-left: 2%;
    height: 25px;
}
